:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
  }
}

:root.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

:root.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.top-right-controls {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
}

.form {
  display: flex;
  gap: 1rem;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

/* both themes */
[aria-label="tip"] text {
  fill: #000 !important;
}
